WebContent/wsdl/Dijkstra.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.walmart.delivery.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.walmart.delivery.com" xmlns:intf="http://ws.walmart.delivery.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.walmart.delivery.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findClosestPath">
    <complexType>
     <sequence>
      <element name="originPoint" type="xsd:string"/>
      <element name="destinyPoint" type="xsd:string"/>
      <element name="fuelPrice" type="xsd:double"/>
      <element name="autonomy" type="xsd:double"/>
      <element name="routes" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findClosestPathResponse">
    <complexType>
     <sequence>
      <element name="findClosestPathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findClosestPathResponse">

      <wsdl:part element="impl:findClosestPathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findClosestPathRequest">

      <wsdl:part element="impl:findClosestPath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Dijkstra">

      <wsdl:operation name="findClosestPath">

         <wsdl:input message="impl:findClosestPathRequest" name="findClosestPathRequest">

       </wsdl:input>

         <wsdl:output message="impl:findClosestPathResponse" name="findClosestPathResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DijkstraSoapBinding" type="impl:Dijkstra">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findClosestPath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findClosestPathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findClosestPathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DijkstraService">

      <wsdl:port binding="impl:DijkstraSoapBinding" name="Dijkstra">

         <wsdlsoap:address location="http://localhost:8080/WalmartDeliveryWS/services/Dijkstra"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
